doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Eze Nmezi
    meta(name="description", content="A personal website that illustrate my career path and current skills")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='images/favicon.ico')
    //if IE
      link(rel='shortcut icon', href='images/favicon.ico')
    // Optional: Android & iPhone
    link(rel='apple-touch-icon-precomposed', href='images/favicon-152.png')
    // Optional: IE10 Tile.
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='images/favicon-144.png')
    // Optional: ipads, androids, iphones, ...
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='images/favicon-152.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/favicon-144.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='images/favicon-120.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/favicon-114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/favicon-72.png')
    link(rel='apple-touch-icon-precomposed', href='images/favicon-57.png')

  body


    header.bird-boxes
      .back-bird
      .logo
      .fore-bird
      .fore-bird-lefty
      .barshade


    section.content

      article

        h1 M Y  &nbsp;&nbsp;  W O R K

        hr

        .clothes-pics
            .row.img-row
              figure.columns.three
                a(href="http://www.ccnm.edu", target="_blank")
                  img(src="images/brand1.jpg")
                  figcaption Drupal, WordPress, Moodle & More
              figure.columns.three
                a(href="http://www.ccnmihc.ca", target="_blank")
                  img(src="images/brand2.jpg")
                  figcaption Drupal, Wix, CSS3
              figure.columns.three
                a(href="https://web.archive.org/web/20010217183633/http://www.freshheads.labatt.com/", target="_blank")
                  img(src="images/brand3.jpg")
                  figcaption HTML5, FLASH, ActionScript
              figure.columns.three
                a(href="http://wattisretail.com/projectPage.php?id=147", target="_blank")
                  img(src="images/brand4.jpg")
                  figcaption InDesign, Quark,SAP, MSOffice
            .row.img-row
              figure.columns.three
                a(href="http://lexcorpweb.com/images/Projects/other/BIG_Deloitte1.png", target="_blank")
                  img(src="images/brand5.jpg")
                  figcaption Package Design, Illustrator
              figure.columns.three
                a(href="http://upperviewhomes.com", target="_blank")
                  img(src="images/brand6.jpg")
                  figcaption FCP, Premiere,Cinematography
              figure.columns.three
                a(href="http://www.yak.com", target="_blank")
                  img(src="images/brand7.jpg")
                  figcaption Photoshop, Branding, Photography, ASP
              figure.columns.three
                a(href="http://www.drbdiet.ca", target="_blank")
                  img(src="images/brand8.jpg")
                  figcaption Tradeshow, e-Signage,  Billboards
            .row.img-row
              figure.columns.three
                a(href="http://www.satinfinish.com", target="_blank")
                  img(src="images/brand9.jpg")
                  figcaption Interactive DVD,  ActionScipt, Javascript
              figure.columns.three
                a(href="http://www.oicc.ca", target="_blank")
                  img(src="images/brand10.jpg")
                  figcaption UX Design, PHP, ASP, SQL,<br> Branding, Social Media
              figure.columns.three
                a(href="http://www.lifematescanada.com", target="_blank")
                  img(src="images/brand11.jpg")
                  figcaption Flash, SEO,  SMM, Animation
              figure.columns.three
                a(href="http://ccnmbntc.ca", target="_blank")
                  img(src="images/brand12.jpg")
                  figcaption Drupal, Photography,  Project Management










        p I am a Digital Media Professional with over ten years of design, Full Stack Development and web/video engineering experience. Proven skill in overseeing projects from conception to go-live. Demonstrated ability to engage and work closely with all levels up to the C-Suite.

        br
        br
        h1 M Y  &nbsp;&nbsp;  S K I L L S

        hr



        //
          #l
          #myParallax8.glowbox.overflow-hidden.column
            div(style='left:-1px;top:-1px;background-image: url(images/bg.png); height:900px; width: 100%;', data-lock='yes')
            div(style='left:0px;top:0px;', data-z='15')
              img(src='images/sun.png', width='100%' )
            div(style='left:0px;top:0px;width:100%;', data-z='10')
              img(src='images/parabuilding.png', width='100%', class='max-width:100%; height:auto;')
            div(style='left:1000px;top:150px;', data-z='-5')
              img(src='images/bottomtree.png', width='100%')
            div(style='left:0px;top:-130px;', data-z='-95')
              img(src='images/foretree.png', width='100%')
            div(style='left:1000px;top:640px;', data-z='-295')
              img(src='images/mepara.png', width='100%')
            div(style='left:110px;top:240px;', data-lock='yes')
              p.white
              svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='1920px', height='1080px', viewbox='0 0 1920 1080', enable-background='new 0 0 1920 1080', xml:space='preserve')
                rect(x='66.316', y='69.947', fill='white', stroke='#FFFFFF', opacity='0', stroke-width='3', stroke-miterlimit='10', width='115.79', height='115.79', onmouseover="evt.target.setAttribute('opacity', '0.25');", onmouseout="evt.target.setAttribute('opacity','0');")
                rect(x='188.684', y='69.947', fill='white', stroke='#FFFFFF', opacity='0', stroke-miterlimit='10', width='115.79', height='115.79' onmouseover="evt.target.setAttribute('opacity', '0.25');", onmouseout="evt.target.setAttribute('opacity','0');")
                rect(x='3075', y='69.947', fill='white', stroke='#FFFFFF', opacity='0', stroke-miterlimit='10', width='115.79', height='115.79' onmouseover="evt.target.setAttribute('opacity', '0.25');", onmouseout="evt.target.setAttribute('opacity','0');")
                rect(x='429.474', y='69.947', fill='white', stroke='#FFFFFF', opacity='0', stroke-miterlimit='10', width='115.79', height='115.79' onmouseover="evt.target.setAttribute('opacity', '0.25');", onmouseout="evt.target.setAttribute('opacity','0');")
                rect(x='547.895', y='69.947', fill='white', stroke='#FFFFFF', opacity='0', stroke-miterlimit='10', width='115.79', height='115.79' onmouseover="evt.target.setAttribute('opacity', '0.25');", onmouseout="evt.target.setAttribute('opacity','0');")
                rect(x='670.263', y='69.947', fill='white', stroke='#FFFFFF', opacity='0', stroke-miterlimit='10', width='115.79', height='115.79' onmouseover="evt.target.setAttribute('opacity', '0.25');", onmouseout="evt.target.setAttribute('opacity','0');")
                rect(x='788.685', y='69.947', fill='white', stroke='#FFFFFF', opacity='0', stroke-miterlimit='10', width='115.79', height='115.79' onmouseover="evt.target.setAttribute('opacity', '0.25');", onmouseout="evt.target.setAttribute('opacity','0');")
                rect(x='911.053', y='69.947', fill='white', stroke='#FFFFFF', opacity='0', stroke-miterlimit='10', width='115.789', height='115.79' onmouseover="evt.target.setAttribute('opacity', '0.25');", onmouseout="evt.target.setAttribute('opacity','0');")
                g
                path(fill='none', stroke='#FFFFFF', stroke-width='2', d='M100.941,84.393h9.396v48.708c0,19.333-9.504,25.272-22.032,25.272\
                c-3.456,0-7.668-0.756-10.044-1.728l1.404-7.668c1.944,0.756,4.752,1.404,7.884,1.404c8.424,0,13.392-3.78,13.392-18.036V84.393z')
                path(fill='none', stroke='#FFFFFF', stroke-width='2', d='M124.7,145.738c4.212,2.592,10.368,4.752,16.848,4.752\
                c9.612,0,15.229-5.076,15.229-12.42c0-6.804-3.888-10.692-13.716-14.472c-11.88-4.212-19.225-10.368-19.225-20.628\
                c0-11.34,9.396-19.764,23.544-19.764c7.452,0,12.853,1.728,16.092,3.564l-2.592,7.668c-2.376-1.296-7.236-3.456-13.824-3.456\
                c-9.936,0-13.716,5.94-13.716,10.908c0,6.804,4.428,10.152,14.472,14.04c12.312,4.752,18.576,10.692,18.576,21.384\
                c0,11.232-8.316,20.953-25.488,20.953c-7.02,0-14.688-2.052-18.576-4.644L124.7,145.738z')

        hr

        p I excel with Social Media Planning and Strategy. I drove marketing plans and strategies to market and promoted educational and healthcare events through targeted social media campaigns, web content curation (infographics, videos), in-house print campaigns, student, donors, and alumni e-newsletters.

        hr

        .large-window
          .window-tint
            .promo-text Give me a Call
              strong <span>Cell 416-SER-IOUS </span>
              a(href="").window-cta Call Now



        h1 I'm looking foward to hearing from you

        hr

        p I love creating digital assests and Viral Video Content. I've launched videography campaigns through GoPro POV stunts and DSLR filming techniques to engage target audiences through links, blogs and e-marketing campaigns

        hr


        .blog-posts.row

          .post.columns.four.post-1
            blockquote Thanks, for the new Design
            img(src="images/posts/one.jpg")
            p The ability to create, cast, direct, and engineer this viral content was a huge milestome for our department
            p: a.button(href="http://myccnm2012.tumblr.com", target="_blank")  View Campaign

          .post.columns.four.post-2
            blockquote I love this video. Great Work
            img(src="images/posts/two.jpg")
            p The Cinematography and interactive digital presence has transformed our marketing and communication efforts.
            p: a.button(href="https://vimeo.com/65852728", target="_blank") Watch Videos

          .post.columns.four.post-3
            blockquote It looks so good. Web Design greatness
            img(src="images/posts/three.jpg")
            p The web development and digital project execution was flawless. Thank you for helping us meet our company goals
            p: a.button(href="http://annualreport.ccnm.edu", target="_blank") View Site

    footer
      .row.footer-stuff
        .columns.three
          strong STAY IN TOUCH WITH ME
          ul
            li: a(href="https://twitter.com/ezenmezi") Twitter
            li: a(href="https://www.behance.net/ezenmezi") Behance
            li: a(href="https://www.linkedin.com/in/ezenick") LinkedIN
            li: a(href="https://www.instagram.com/mediakingdoms") Instagram

        .columns.three
          strong Top 5 Sites
          ul
            li: a(href="http://www.ezestudio.com", target="_blank" title="(Freelance Site)") Eze Studio
            li: a(href="http://www.mediakingdoms.com", target="_blank" title="Company Site") Media Kingdoms
            li: a(href="http://annualreport.ccnm.edu", target="_blank") Annual Reports(WordPress)
            li: a(href="http://www.ccnm.edu/sites/ccnm/files/flashcontent/ar_final.swf", target="_blank") Annual Reports(Flash)
            li: a(href="http://myccnm2012.tumblr.com/", target="_blank") Annual Reports(Social Media)

        .columns.six
          h1 Wait, please don't go
          p <strong> I promise... </strong>I wont send you an email unless it's really awesome.

          link(href='//cdn-images.mailchimp.com/embedcode/classic-081711.css', rel='stylesheet', type='text/css')
          style(type='text/css').
            #mc_embed_signup{ clear:left; font:16px Helvetica,Arial,sans-serif;}
            #mce-success-response{ color:#000; font-weight: 100; clear:left; font:18px Helvetica,Arial,sans-serif;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          #mc_embed_signup

            form#mc-embedded-subscribe-form.validate(action='//mediakingdoms.us12.list-manage.com/subscribe/post?u=304e31cb1e043b49cef061fa4&id=2a24df7bbe', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')

              .columns.two



              #mc_embed_signup_scroll
                .mc-field-group
                  input#mce-EMAIL.required.email(type='email', value='', placeholder='email address', name='EMAIL')
                #mce-responses.clear
                  #mce-error-response.response(style='display:none')
                  #mce-success-response.response(style='display:none')
                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style='position: absolute; left: -5000px;', aria-hidden='true')
                  input(type='text', name='b_304e31cb1e043b49cef061fa4_2a24df7bbe', tabindex='-1', value='')
              .columns.two


                .clear
                  input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
          script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
          script(type='text/javascript').
            (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);












  script(src="js/jquery-2.1.3.min.js")
  script(type='text/javascript', src='js/jquery.real-parallax.js')
  script(type='text/javascript').
    $(document).ready(function(){
    $('#myParallax8').parallax({ focusZ:40, sensitivityX:0, sensitivityY:0.6});
    });

  script(src="js/functions.js")
